* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: rgb(52, 58, 64);
  border-bottom: 8px solid #087f5b;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.main-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 64px;
  column-gap: 80px;
  margin-bottom: 96px;
}
.main-header-text h1 {
  font-size: 44px;
  letter-spacing: -1px;
  margin-bottom: 32px;
}
.main-header-text p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
}
.main-header-img img {
  width: 100%;
  border-radius: 12px;
}
.main-header-text a:link,
.main-header-text a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 16px 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #087f5b;
  border-radius: 100px;
}
.main-header-text a:hover,
.main-header-text a:active {
  background-color: #099268;
}
p {
  color: #343a40;
}
.section-details-title h2 {
  font-size: 36px;
  margin-bottom: 48px;
  letter-spacing: -0.5px;
}
.section-details-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin-bottom: 96px;
}
.section-details-info-icon {
  stroke: #087f5b;
  width: 32px;
  margin-bottom: 24px;
  font-weight: bold;
}
.section-details-info-title {
  font-size: 20px;
  margin-bottom: 16px;
}
.section-details-info-text {
  font-size: 18px;
  line-height: 1.7;
}
.section-customer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  align-items: center;
  padding: 24px;
  background-color: #087f5b;
  border-radius: 12px;
  color: #fff;
  margin-bottom: 96px;
}
.section-customer-img img {
  width: 100%;
  border-radius: 12px;
}

.section-customer-text {
  grid-column: 2/-1;
}
.section-customer-text-quote h2 {
  margin-bottom: 24px;
  font-size: 24px;
}
/* .section-customer-text-quote h2 { */
/* color: #fff; */
/* } */
.section-customer-text-description {
  font-style: italic;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
}
.section-customer-text-author p {
  color: #c3fae8;
}
.section-product {
  margin-bottom: 96px;
}
.section-product-title h2 {
  font-size: 36px;
  margin-bottom: 40px;
  letter-spacing: -0.5px;
}
.section-product-sample {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.section-product-sample-img img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.section-product-sample-details-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}
.section-product-sample-details h3 {
  font-size: 20px;
  margin-bottom: 24px;
}
footer p {
  font-size: 14px;
  margin-bottom: 48px;
  color: #495057;
}
.section-product-sample figure {
  border-radius: 12px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}
.section-product-sample-details {
  padding: 32px;
}
.section-product-sample-details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 48px;
}
.section-product-sample-details ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-product-sample-details-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-product-sample-details-price a:link,
.section-product-sample-details-price a:visited {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #087f5b;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  color: #fff;
}
.section-product-sample-details-price a:hover,
.section-product-sample-details-price a:active {
  background-color: #099268;
}
.section-product-sample-details-price strong {
  font-size: 20px;
}
